body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #f0f2f5;
  color: #1c1e21;
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header styles */
.header {
  background-color: #7b8c9c;
  color: rgb(0, 0, 0);
  padding: 1px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
/* Footer styles */
.footer {
  background-color: #7b8c9c;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}

.country-box {
  background: #7b8c9c;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 500px;
  transition: box-shadow 0.3s ease;
}

/* Country details */
.country-details {
  margin-top: 10px;
}

.country-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.country-details p {
  font-size: 16px;
  margin: 5px 0;
}

/* Search input styles */

.search-input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 2px solid #7799cd;
  border-radius: 12px;
  outline: none;
  background-color: #ffffff7d;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
/* Search container */
.relative {
  position: relative;
  margin: 0 auto;
}
/* Center the search input container */
.w-full {
  width: 100%;
}

.max-w-\[800px\] {
  max-width: 500px;
}

.mt-8 {
  margin-top: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


/* Error message */
.error-message {
  color: #dc2626;
  background-color: #fee2e2;
  border: 1px solid #fca5a5;
  padding: 1rem;
  border-radius: 8px;
  margin: 1rem auto;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

/* Error message */
.flag-img {
  width: 30rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}
